:root {
    --theme-color-primary: #8aa5fc;
    --theme-color-secondary: #61dafb;
    --theme-color-btn-text: blue;
  
    --main-bg-color: #e2e1e0;
    --main-font-family: 'Roboto', sans-serif;
    --main-min-height: 40rem;
  
    --main-header-height: 6.5rem;
    --main-header-height-sm: 15rem;
    
  }
  